openapi: 3.1.0
info:
  title: Frontend API
  description: |
    This
    API.
  version: 1.0.0
jsonSchemaDialect: https://spec.openapis.org/oas/3.1/dialect/base
servers:
  - url: https://api.entrlcom.cn
    description: China
  - url: https://api.entrlcom.de
    description: Germany
  - url: https://api.entrlcom.ru
    description: Russia
  - url: https://api.entrlcom.us
    description: United States
security: []
tags: []
paths:
  /sign-up-with-email-address-and-password:
    post:
      operationId: sign-up-with-email-address-and-password
      summary: Sign Up with Email Address and Password
      description: ''
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email_address:
                  $ref: '#/components/schemas/email_address'
              required:
                - email_address
            example:
              email_address: mail@example.com
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    $ref: '#/components/schemas/account_id'
webhooks: {}
components:
  schemas:
    email_address:
      description: Email Address
      type: string
      minLength: 6
      maxLength: 254
      example: mail@example.com
    account_id:
      description: Account ID
      type: string
      minLength: 36
      maxLength: 36
      example: 00000000-0000-7000-0000-000000000000
